.search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__img {
		width: 400px;
		object-fit: cover;
	}
	&__input {
		padding: 10px;
		width: 200px;
		border-radius: 10px;
	}
}
