.favorite {
	&__title {
		margin-top: 50px;
		text-align: center;
		font-weight: 900;
	}
	&__error {
		text-align: center;
		color: #ff0000;
	}
	&__list {
		width: 1400px;
		margin: 0 auto;
		padding: 40px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}
}
