@import './variables.scss';

* {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $main-color;
	font-size: 16px;
	font-weight: 400;
}
h2 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 32px;
	font-weight: 900;
}
ul,
li,
dl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	font-weight: 700;
	&:hover {
		color: $link-pink;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	background-color: $bg-color-pink;
	color: $color-text-pink;
	a {
		color: $color-text-pink;
		&:hover {
			color: $link-pink;
		}
	}
}

.girls {
	background-color: $bg-color-pink;
	color: $color-text-pink;
	a {
		color: $color-text-pink;
		&:hover {
			color: $link-pink;
		}
	}
}
.boys {
	background-color: $bg-color-blue;
	color: $color-text-blue;
	a {
		color: $color-text-blue;
		&:hover {
			color: $link-blue;
		}
	}
}
