.button {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #ffffff;
	font-weight: 700;
	margin: 10px;
	border: 2px solid;
	cursor: pointer;
	&:disabled {
		cursor: auto;
		background-color: #9c9c9c;
		border: 2px solid #a7a7a7;
		color: #696969;
		&:hover {
			cursor: auto;
			background-color: #9c9c9c;
			border: 2px solid #a7a7a7;
			color: #696969;
		}
	}
	&:hover {
		cursor: pointer;
		background-color: #f3d083;
		border: 2px solid #fc9465;
		color: #363535;
	}
}
.small {
	font-size: 10px;
	padding: 5px 10px;
}
.medium {
	font-size: 14px;
	padding: 10px 20px;
}
.big {
	font-size: 20px;
	padding: 15px 30px;
}
.girls {
	background-color: none;
	color: #ffa7e5;
	transition: 0.4s;
	&:hover {
		color: #ff50cb;
		background-color: #ffa7e5;
		--angle: 0deg;
		border: 2px solid;
		border-image: linear-gradient(
				var(--angle),
				red,
				yellow,
				lime,
				aqua,
				blue,
				magenta
			)
			1;
	}
}

.boys {
	background-color: #7aceff;
	color: #1e6a96;
	border: 2px solid #1e6a96;
	transition: 0.4s;
	&:hover {
		color: #7aceff;
		background-color: #1e6a96;
		border: 2px solid #7aceff;
	}
}
