.form {
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 400px;
	height: 390px;
	border-radius: 15px;
	background-color: #58b0eb;
	padding-bottom: 40px;
	&__input {
		width: 80%;
		padding: 10px 10px;
		margin: 20px 0;
		border-radius: 5px;
	}
	&__span {
		font-size: 20px;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
		&:hover {
			color: greenyellow;
		}
	}
	&__title {
		margin-top: 20px;
	}
}
